main{
    background-color: #191B1F;
    color: white;
    padding-top: 30px;
    width: calc(84vw - 3px);
}
#head{
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid white;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
select, input{
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    background-color: rgb(45, 45, 62);
    color: white;
    padding-left: 30px;
    border:1px solid white ;
}
select{
    width: fit-content;
}
#searchicon{
    position: absolute;
    top: 15px;
    left: 25px;
}

#sidebar{
    width: 18vw;
    min-height: calc(87vh - 50px);
    border-right: 2px solid white ;
    position: relative;
}
#buttons{
    display: flex;
    gap: 10px;  
}
#member{
    padding: 10px;
    font-family: sans-serif;
    font-size: small;
}
#member:hover{
    background-color: black;
}
.ticketstatus{
    color: yellow;
}

#buttons>#delete{
    background-color: red;
}
#buttons>#markfinished{
    background-color: green;
}
#buttons>#chat{
    background-color: rgb(64, 169, 239);
}
#buttons>button{
    background-color: #6C63FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none
}
#rest{
    display: flex;
    gap: 20px;
    
}
.information{
    width: 500px;
    height: 180px;
    padding:10px;
    margin-top: 40px;
    background-color:#202226;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.information>h4{
    color: gray;
    font-size: large;
}
.information>h5{
    font-size: medium;
}
#description div:last-child{
    background-color: black;
}

.form{
    width: 50vw;
    margin-left: 30px ;
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 50px;
}
.input-group>input,textarea{
    width: 50vw ;
    height: 70px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding-left: 30px;
    border:1px solid #1C8F6F ;
    resize: none;
}
.input-group{
    margin-top: 20px;
}

.input-group>select{
    height: 40px;
    width: 20vw;
    background-color: black;
    border:1px solid #1C8F6F ;
    border-radius: 5px;
    color: white;
    padding-left: 30px;
}
button:focus{
    outline: none;
    box-shadow: none;
}
.form>button{
    margin-top: 20px;
    color: white;
    background-color: #1C8F6F;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    position: absolute;
    right: 0px;
}
::placeholder{
    font-family: "Open Sans";
}

.ng-invalid.ng-touched,.ng-invalid.ng-dirty{
    border-color: red;
}
.rate>button{
    background-color: transparent; 
    border: transparent;
    font-size: xx-large;
}