body{
    background-color: #191B1F;
    color: white;
    padding-top: 30px;
    width: calc(84vw - 23px);
    
}
#head{
    width: calc(84vw - 23px);
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid white;
    position: relative;
    display: flex ;
    align-items: center;
    gap: 40px;
}
#head>button{
    position: absolute;
    right: 40px;
    background-color: #600E0E;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #191B1F ;
    
}
#head>select{
    background-color: #191B1F;
    color: white;
    padding: 10px;
    border: 1px solid #86DBFF;
}
#sidebar{
    width: 300px;
    padding: 10px;
    border-right: 2px solid white ;
    min-height: 600px;
}
#notif>div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#notif>h3,#notif>div>h3{
    color: grey;
    font-size: 12px;
}
#notif>h3,#notif>h5{
    margin-top: -10px;
}
#buttons>button{
    width: 100px;
    height: 30px;
    background-color: #600E0E;
    border: 1px solid  #191B1F;
    color: white;
}
#buttons>#accept{
    background-color: green;
}
#notif:hover{
    background-color: black;
}
#rest{
    display: flex;
    gap: 20px;
}
#description>h4{
    margin-top: -20px;
    color: gray;
}
#begin{
    display: flex;
    gap:20px;
    align-items: center;
}
#begin>button{
    width: 100px;
    height: 30px;
    background-color: #600E0E;
    color: white;
    border: 1px solid  #191B1F;
}
#begin>#accept{
    background-color: #15600E;
}
#detail{
    padding: 10px ;
    background-color: #2C2C2C;
}
#detail>h4{
    margin-top: -5px;
}
