body{
    background-color: #191B1F;
    color: white;
    padding-top: 30px;
    width: calc(84vw - 3px);
}
#head{
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid white;
    height: 50px;
    position: relative;
}
input{
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    background-color: rgb(45, 45, 62);
    color: white;
    padding-left: 30px;
    border:1px solid white ;
}
#searchicon{
    position: absolute;
    top: 5px;
    left: 25px;
}

#sidebar{
    width: 18vw;
    min-height: calc(87vh - 50px);
    padding: 10px;
    border-right: 2px solid white ;
    position: relative;
}
#member{
    display: flex;
    align-items: center;
    gap :20px
    
}
#member>img{
    border-radius: 50%;
}
#buttons{
    display: flex;
    gap: 10px;  
}
#member:hover{
    background-color: black;
}
#buttons>#delete{
    background-color: red;
}
#buttons>#edit{
    background-color: green;
}
#buttons>button{
    background-color: #6C63FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #16152f;
}
#rest{
    display: flex;
    gap: 20px;
    
}
#informations{
    width: 60vw;
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}
#informations>div{
    width: 300px;
    height: 180px;
    padding-left: 10px ;
    padding-right: 10px;
    margin-top: 40px;
    background-color:#202226;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}#informations>div>h4{
    color: gray;
}
#informations div:last-child{
    background-color: black;
    width: 400px;
}
#namepdp{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.savechanges,.discard{
    margin-top: 20px;
    color: white;
    background-color: rgb(71, 6, 6);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: rgb(71, 6, 6);
}
.savechanges{
    background-color: #1C718F;
    border: #1C718F ;
}

input.ng-invalid.ng-touched,input.ng-invalid.ng-dirty{
    border-color: red;
}